<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Basics about stats</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= require('./static/favicons/apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./static/favicons/apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= require('./static/favicons/apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= require('./static/favicons/apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= require('./static/favicons/apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./static/favicons/apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= require('./static/favicons/apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('./static/favicons/apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./static/favicons/apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= require('./static/favicons/android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./static/favicons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= require('./static/favicons/favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./static/favicons/favicon-16x16.png') %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= require('./static/favicons/ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <style>
    body, html, #app {
      height: 100%
    }
  </style>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Startup.MenuZoom = function () {}
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
      },
      showMathMenu: false,
      showMathMenuMSIE: false,
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"></script>
</head>
<body>
  <div id="app">
    Loading for you! Please be patient.
  </div>
</body>
</html>
